<h1>Home#index</h1>

<div id="hede" style="width:500px;height:300px;">
</div>

<script>
  window.chart = new Highcharts.Chart({
    chart: {
      renderTo: 'hede',
      defaultSeriesType: 'column'
    },
    title: {
      text: null
    },
    xAxis: {
      labels: {
        step: 1
      }
    },
    yAxis: {
      title: {
        text: null
      },
      allowDecimals: false,
      alternateGridColor: '#f0f0f0'
    },
    tooltip: {
      crosshairs: true,
      shared: true
    },
    margin: [0, 0, 0, 0],
    credits: {
      enabled: false
    },
    plotOptions: {
      series: {
        stacking: 'normal'
      }
    }
  });
</script>
